.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


body {
    background-color: hsl(47, 88%, 63%);
    width: clamp(375px, 80vw, 1440px);
    margin: 0 auto;
    display: flex;
    /* Layout model */
    flex-direction: column;
    /* Setting the  displa-direction to column */
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    font-family: 'Figtree', sans-serif;
    gap: 10px;
}

.blog-card {
    background-color: hsl(0, 0%, 100%);
    width: clamp(280px, 40vw, 350px);
    padding: clamp(16px, 3vw, 24px);
    max-width: 375px;
    /* height: 450px; */
    display: flex;
    flex-direction: column;
    text-align: left;
    border: black 1px solid;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 1);
    border-radius: 15px;
    gap: 5px;
}

.blog-card img {
    width: 100%;
    border-radius: 10px;

}

.category {
    background-color: hsl(47, 88%, 63%);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    align-self: flex-start;
}

.date {
    top: 500px;
    line-height: 1.5;
}

.blog-card .title:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

.blog-card .description {
    color: hsl(0, 0%, 42%);
    font-size: clamp(16px, 2.8vw, 16px);
    line-height: 1.5;
}

.author {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: auto;
}

.author img {
    width: 40px;
    border-radius: 50%;
    position: static;
}

.author p {
    position: static;
    font-size: 16px;
    font-weight: bold;
}